body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  text-align:center;
  display:flex;
  flex-direction:column;
  min-height:100vh;
}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

header {
  margin: 15px 0px;
  font-size: 30px;
  font-weight: 600;
  
}

.page-title {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
  
}

.about {
  /* margin: 15px 10%; */
  font-size: 18px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

}

.logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.footer {
  /* position: absolute;
  bottom: 0;
  width: 100%; */
  margin-top: 20px;
  margin-bottom: 0px;
  
}

.footer-link {
  margin-right: 100px;
}

.footer-link{
  margin-right: 10px;
}

.proj-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-bottom: 15px; */
}

.card {
  width: 275px;
  margin: 20px 5px;
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.14);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.14);
}



.pic-of-me {
  width: 175px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px -11px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 20px -11px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 20px -11px rgba(0,0,0,1);
}


form { max-width:420px; margin:20px auto; }

.feedback-input {
  font-weight:400;
  font-size: 18px;
  border-radius: 5px;
  line-height: 25px;
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline: 0;
  
}

textarea {
  height: 75px;
  line-height: 150%;
  resize:vertical;
}

