body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

header {
  margin: 15px 0px;
  font-size: 30px;
  font-weight: 600;
}

.page-title {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}

.about {
  /* margin: 15px 10%; */
  font-size: 18px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;

}

.logo {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 13px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.proj-cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* margin-bottom: 15px; */
}

.card {
  width: 275px;
  /* margin: 0px 10px; */
}

.pic-of-me {
  width: 130px;
}